﻿@using MusicManager.BL.Domain
@model MusicManager.BL.Domain.Song

@{
    ViewBag.Title = "Add Song";
    Layout = "_Layout";
}

<h1>Add Song</h1>

<article>
    <form asp-controller="Song" asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" type="text" class="form-control">
        </div>
        <span class="text-danger" asp-validation-for="Title"></span>
        <div class="form-group">
            <label asp-for="Length">Length</label>
            <input class="form-control" asp-for="Length" type="text"/>
        </div>
        <span class="text-danger" asp-validation-for="Length"></span>
        <div class="form-group">
            <label asp-for="ReleaseDate">Release date</label>
            <input class="form-control" asp-for="ReleaseDate" type="date"/>
        </div>
        <span class="text-danger" asp-validation-for="ReleaseDate"></span>
        <div class="form-group">
            <label asp-for="AmountOfStreams"># Streams</label>
            <input asp-for="AmountOfStreams" type="number" class="form-control">
        </div>
        <span class="text-danger" asp-validation-for="AmountOfStreams"></span>
        <div class="form-group">
            <label asp-for="Genre">Genre</label>
            <select class="form-control" asp-for="Genre">
                @foreach (var genre in Html.GetEnumSelectList<Genre>())
                {
                    <option>@genre.Text</option>
                }
            </select>
        </div>
        <span class="text-danger" asp-validation-for="Genre"></span>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</article>